<div class="main h-100">

    <div class="row">
        <div class="carousel slide ui-image-slider" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-5 ui-get-started ui-hero-text">
                            <h1 class="ui-title">Lorem ipsum dolor sit amet</h1>
                            <p class="ui-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book.</p>
                            <a href="#" class="btn btn-green align-self-start">GET STARTED TODAY</a>
                        </div>
                        <div class="col-xl-6 ui-image-slide">
                            <img class="img-fluid" src="assets/images/laptop.png">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-5 ui-get-started ui-hero-text">
                            <h1 class="ui-title">Lorem ipsum dolor sit amet</h1>
                            <p class="ui-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book.</p>
                            <a href="#" class="btn btn-green align-self-start">GET STARTED TODAY</a>
                        </div>
                        <div class="col-xl-6 ui-image-slide">
                            <img class="img-fluid" src="assets/images/laptop.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ui-offerings">
        <div class="col-md-4" id="leads">
            <a href="" class="ui-content">
                <div class="ui-data ui-uf1">
                    <img src="assets/images/home-icon1.png" class="img-fluid align-self-center">
                    <h3>Leads</h3>
                    <div class="ui-line-break"></div>
                </div>
            </a>
        </div>
        <div class="col-md-4" id="print-builder">
            <a routerLink="/products" class="ui-content">
                <div class="ui-data ui-uf2">
                    <img src="assets/images/home-icon2.png" class="img-fluid align-self-center">
                    <h3>Print Builder</h3>
                    <div class="ui-line-break"></div>
                </div>
            </a>
        </div>

        <div class="col-md-4" id="website-builder">
            <a href="" class="ui-content">
                <div class="ui-data ui-uf3">
                    <img src="assets/images/home-icon3.png" class="img-fluid align-self-center">
                    <h3>Website Builder</h3>
                    <div class="ui-line-break"></div>
                </div>
            </a>
        </div>

        <div class="col-md-4" id="email-marketing">
            <a href="" class="ui-content">
                <div class="ui-data ui-uf4">
                    <img src="assets/images/home-icon4.png" class="img-fluid align-self-center">
                    <h3>Email Marketing</h3>
                    <div class="ui-line-break"></div>
                </div>
            </a>
        </div>

        <div class="col-md-4" id="transaction">
            <a href="" class="ui-content">
                <div class="ui-data ui-uf5">
                    <img src="assets/images/home-icon5.png" class="img-fluid align-self-center">
                    <h3>Transaction Management</h3>
                    <div class="ui-line-break"></div>
                </div>
            </a>
        </div>

        <div class="col-md-4" id="testimonial">
            <a href="" class="ui-content">
                <div class="ui-data ui-uf6">
                    <img src="assets/images/home-icon6.png" class="img-fluid align-self-center">
                    <h3>Calendar</h3>
                    <div class="ui-line-break"></div>
                </div>
            </a>
        </div>

    </div>

</div>
<!-- 

<div class="pre-print-builder"> 
    <print-builder></print-builder>
</div> -->