<div class="sidenav" role="navigation" id="sidenav">
  <!-- SIDEBAR LOGO -->
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo-new.png" class="img-fluid" alt="" />      
    </a>
  </div>
  <!-- END SIDEBAR LOGO -->


  <!-- SIDEBAR MENU -->
  <div class="nav-menu">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link ui-nl1" routerLink="/">
          <i class="fa fa-home"></i>
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link ui-nl2">
          <i class="fa fa-address-book-o"></i>
          <span class="nav-text">CRM</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link ui-nl3">
          <i class="fa fa-calendar"></i>
          <span class="nav-text">Events</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link ui-nl4">
          <i class="fa fa-envelope-open"></i>
          <span class="nav-text">Marketing</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link ui-nl5">
          <i class="fa fa-credit-card"></i>
          <span class="nav-text">Transactions</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>