<div class="accountInformation">
    <h4 class="text-uppercase">Other Payment Methods</h4>
    
    <div class="information">
      <div class="row">
        <div class="col-sm-6 col-md-6 singleInfo">
            <input type="radio" id="radio-1-1" name="radio-1-set" class="ui-radio" checked />
            <label for="radio-1-1">PayPal</label>
            <br/>
            <input type="radio" id="radio-1-2" name="radio-1-set" class="ui-radio" />
            <label for="radio-1-2">Bank Transfer</label>
        </div>
      </div>
    </div>
  </div>