<div class="ui-product-hero">
    <h1 class="ui-hero-title">Lorem ipsum dolor sit amet</h1>
    <p class="ui-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
        in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
    <a href="" class="btn btn-green">Get Started Today</a>
</div>

<div class="ui-product-lists" id="product-viewer">
    <nav class="nav nav-pills nav-justified ui-product-nav">
        <a class="nav-item nav-link active" id="listing-link" href="#listing-products">Listing Essentials</a>
        <a class="nav-item nav-link" id="prospect-link" href="#prospect-products">Prospecting Essentials</a>
        <a class="nav-item nav-link" id="brand-link" href="#branding-products">Branding Essentials</a>
        <a class="nav-item nav-link" routerLink="/saved-draft">Saved Drafts</a>
    </nav>

    <section class="ui-listing-ess product-ui-item" id="listing-products">
        <h2 class="ui-heading">Listing Essentials</h2>
        <p class="ui-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore
            eu feugiat.</p>

        <div class="ui-horizontal-list ui-scrollbar">
            <a class="ui-arrow-left arrow"></a>
            <a class="ui-arrow-right arrow"></a>
            <div class="ui-scoll-inner row">
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage('post', 'assets/images/temp/post1-front.png')">
                        <img src="assets/images/temp/post1-front.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage('business', 'assets/images/temp/business1-front.jpg')">
                        <img src="assets/images/temp/business1-front.jpg" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-1.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-2.png" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-1.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-2.png" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
            </div>
        </div>       
        <a class="nav-item nav-link btn btn-ouline-blue mt-5" id="all-products-link" href="#all-products">View all</a>
    </section>

    <section class="ui-prospect-ess ui-bg-light-grey product-ui-item" id="prospect-products">
        <h2 class="ui-heading">Prospecting Essentials</h2>
        <p class="ui-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore
            eu feugiat.</p>

        <div class="ui-horizontal-list ui-scrollbar">
            <a class="ui-arrow-left arrow"></a>
            <a class="ui-arrow-right arrow"></a>
            <div class="ui-scoll-inner row">
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img"  (click)="goToSinglePage('post', 'assets/images/temp/post1-front.png')">
                        <img src="assets/images/temp/post1-front.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img"  (click)="goToSinglePage('business', 'assets/images/temp/business1-front.jpg')">
                        <img src="assets/images/temp/business1-front.jpg" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-1.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-2.png" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-1.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-2.png" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
            </div>
        </div>
        <a class="nav-item nav-link btn btn-ouline-blue mt-5" id="all-products-link" href="#all-products">View all</a>
    </section>

    <section class="ui-branding-ess product-ui-item" id="branding-products">
        <h2 class="ui-heading">Branding Essentials</h2>
        <p class="ui-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore
            eu feugiat.</p>

        <div class="ui-horizontal-list ui-scrollbar">
            <a class="ui-arrow-left arrow"></a>
            <a class="ui-arrow-right arrow"></a>
            <div class="ui-scoll-inner row">
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage('post', 'assets/images/temp/post1-front.png')">
                        <img src="assets/images/temp/post1-front.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage('business', 'assets/images/temp/business1-front.jpg')">
                        <img src="assets/images/temp/business1-front.jpg" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-1.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-2.png" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-1.png" class="img-fluid">
                    </div>
                    <h3>Postcards</h3>
                    <p>50 Postcards from $49.99</p>
                </div>
                <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-2.png" class="img-fluid">
                    </div>
                    <h3>Business Cards</h3>
                    <p>50 Business Cards from $49.99</p>
                </div>
                <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                    <div class="ui-img" (click)="goToSinglePage()">
                        <img src="assets/images/product-3.png" class="img-fluid">
                    </div>
                    <h3>Flyers</h3>
                    <p>50 Flyers from $49.99</p>
                </div>
            </div>
        </div>
        <a class="nav-item nav-link btn btn-ouline-blue mt-5" id="all-products-link" href="#all-products">View all</a>
    </section>

    <section class="ui-all-products ui-bg-light-grey" id="all-products">
        <h2 class="ui-heading">All Products</h2>
        <p class="ui-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat, vel illum dolore
            eu feugiat.</p>

        <div class="ui-all-list">
            <div class="justify-content-center row w-100">
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage('post', 'assets/images/temp/post1-front.png')">
                            <img src="assets/images/temp/post1-front.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage('business', 'assets/images/temp/business1-front.jpg')">
                            <img src="assets/images/temp/business1-front.jpg" class="img-fluid">
                        </div>
                        <h3>Business Cards</h3>
                        <p>50 Business Cards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-3.png" class="img-fluid">
                        </div>
                        <h3>Flyers</h3>
                        <p>50 Flyers from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
            </div>
            <div class="justify-content-center row w-100">
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-1.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Business Cards</h3>
                        <p>50 Business Cards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-3.png" class="img-fluid">
                        </div>
                        <h3>Flyers</h3>
                        <p>50 Flyers from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
            </div>
            <div class="justify-content-center row w-100">
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-1.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Business Cards</h3>
                        <p>50 Business Cards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-3.png" class="img-fluid">
                        </div>
                        <h3>Flyers</h3>
                        <p>50 Flyers from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
            </div>
            <div class="justify-content-center row w-100">
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-1.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Business Cards</h3>
                        <p>50 Business Cards from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div href="#" class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-3.png" class="img-fluid">
                        </div>
                        <h3>Flyers</h3>
                        <p>50 Flyers from $49.99</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ui-item" data-toggle="modal" data-target="#ui-product-popup">
                        <div class="ui-img" (click)="goToSinglePage()">
                            <img src="assets/images/product-2.png" class="img-fluid">
                        </div>
                        <h3>Postcards</h3>
                        <p>50 Postcards from $49.99</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="overlay-modal" *ngIf="showAlert"></div>