<div class="main">
  <div class="ui-product-hero">
      <h1 class="ui-hero-title">Lorem ipsum dolor sit amet</h1>
      <p class="ui-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
          in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
      <a class="btn btn-green">Get Started Today</a>
  </div>

  <div class="ui-card-info">
    <!-- card info needs to be here -->
    <div class="row informationHere">
        <div class="col-lg-6 pr-lg-2 pl-lg-4 borderRight">
            <app-account></app-account>
            <app-shipping></app-shipping>
        </div>
        <div class="col-lg-6 pr-lg-2 pl-lg-4">
            <app-billing></app-billing>
            <app-credit></app-credit>
            <app-other></app-other>
        </div>
    </div>
  </div>

  <!--Product PopUp-->
  <!-- <div class="modal ui-product-popup" id="ui-product-popup">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <a class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="float-right mr-2">&times;</span>
              </a>
              <div class="modal-body">

                  <div class="media">
                      <img class="d-flex mr-3" src="../../assets/images/product-1.png" width="64" alt="image">
                      <div class="media-body">
                          <h3 class="mt-0 mb-2">Postcard</h3>
                          <p>50 Postcards from $49.99</p>
                      </div>
                  </div>

                  <div class="ui-layout-choice mt-40">
                      <h3>Choose Layout</h3>
                      <div class="row no-gutters justify-content-center align-items-center">
                          <div class="col-md-6">
                              <div class="form-check active d-flex align-items-center justify-content-center">
                                  <input type="hidden" value="horizontal" id="layout-checkbox1" name="">
                                  <div class="ui-h-box"></div>
                                  <p class="ui-checkbox-label">Horizontal</p>
                                  <div class="ui-border-bottom"></div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-check d-flex align-items-center justify-content-center">
                                  <input type="hidden" value="vertical" id="layout-checkbox2" name="">
                                  <div class="ui-v-box"></div>
                                  <p class="ui-checkbox-label">Vertical</p>
                                  <div class="ui-border-bottom"></div>
                              </div>
                          </div>
                      </div>

                  </div>

                  <div class="ui-layout-choice mt-40">
                      <h3>Choose size</h3>

                      <div class="row no-gutters justify-content-center align-items-center">
                          <div class="col-md-4">
                              <div class="form-check active d-flex align-items-center justify-content-center">
                                  <input type="hidden" value="small" id="layout-checkbox1" name="">
                                  <div class="ui-s-box"></div>
                                  <p class="ui-checkbox-label">Small <br/> 6" x 4"</p>
                                  <div class="ui-border-bottom"></div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check d-flex align-items-center justify-content-center">
                                  <input type="hidden" value="medium" id="layout-checkbox2" name="">
                                  <div class="ui-m-box"></div>
                                  <p class="ui-checkbox-label">Medium <br/> 6" x 4
                                  <div class="ui-border-bottom"></div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check d-flex align-items-center justify-content-center">
                                  <input type="hidden" value="large" id="layout-checkbox2" name="">
                                  <div class="ui-l-box"></div>
                                  <p class="ui-checkbox-label">Large <br/> 6" x 4"</p>
                                  <div class="ui-border-bottom"></div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="ui-btn-grp d-flex flex-column text-center justify-content-center mt-5 mb-5">
                      <a href="" class="btn btn-green d-inline-block">Proceed</a>
                      <a href="" class="mt-1 ui-cancel">Cancel</a>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
</div>