<div class="ui-signup-confirm-modal" id="signUpMoreModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 ui-modal-left" style="background-image: url('/assets/images/signUp-more-left.png')">
                            <div class="ui-modal-overlay"></div>
                        </div>
                        <div class="col-md-8 ui-sign-up-more">

                            <h4>Thanks for signing up...</h4>
                            <h5>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</h5>

                            <div class="ui-fills">
                                <p class="float-left">At vero eos et accusamus et iusto
                                    <input type="text" /> At vero eos et accusamus et iusto
                                    <input type="text" /> accusamus, accusamus
                                    <input type="text" /> At vero eos et accusamus et iusto
                                    <input type="text" /> At vero eos et accusamus et iusto.
                                </p>
                            </div>

                            <a class="btn btn-green" (click)="confirm()">Next</a>
                            <p class="text-center"><a (click)="confirm()">Skip This Step</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
